<div class="col-sm-12">
    <h3 class="p-1 bg-secondary text-white">Cursos Dictados y Trabajo FreeLancer</h3>
</div>

<div class="container-xxl espacios">
    <div class="container-xxl">
        <div class="row">
            <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 93%;">
                <div class="card-body">
                  <p class="card-text"><strong>Instalación y mantenimiento de redes a PYMES:</strong> 
                    Reparación y servicio técnico a domicilio a particulares.
				    Profesora de Informática en la Asociación mutual Sociedad Italiana de Socorros Mutuos y Cultural de General San Martin, Buenos Aires. Enero 2003 a Septiembre del 2005. 
				    Clases a grupos de alumnos adultos mayores, mantenimiento de 14 equipos y un servidor en Windows 2000.
				    Profesora particular en áreas de ofimática, programación y entornos operativos. 
				    Clases de aplicaciones de Internet, Windows, Ms-Office, diseño de páginas Web, desde 2005.</p>
                </div>
            </div>	
        </div>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 93%;">
                <div class="card-body">
                  <p class="card-text"><strong>Diseño, actualización y administración de Sitios Web:</strong> 
                    SOUTHDOORS GROUP S.A.
				Administración del portal web www.argentinaguia.com
				Diseño y mantenimiento en servidores, correo y atención al cliente, soporte informático, alojamiento Web y registro de dominios.</p>
                </div>
            </div>	
        </div>
    </div>
</div>
