<!-- PIE DE PAGINA -->
<footer id="fondopie">
    <div class="barrapie">
      <div class="icon-text-text">
        <ul class="social">
        <li>
          <a href="mailto:sonygahan@gmail.com" target ="_blank">
          <i class="fa fa-envelope-o"></i>
          </a>
        </li>

        <li>
          <a href="tel:011 5635 6742" target ="">
          <i class="fa fa-phone"></i>
          </a>
        </li>

        <li>
          <a href="http://facebook.com" target ="_blank">
          <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com" target ="_blank">
          <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://youtube.com" target ="_blank">
          <i class="fa fa-youtube"></i>
          </a>
        </li>
      
        <li>
          <a href="https://github.com/SonyGahan" target ="_blank">
          <i class="fa fa-github"></i>
          </a>
        </li>
        </ul>
        <small>&copy; Derechos reservados <strong>@sonygahan</strong></small>
      </div>
    </div>
  </footer>
