<div class="col-sm-12 bg-secondary">
  <div class="row align-items-center">
    <div class="col-10">
      <h3 class="p-1 bg-secondary text-white">Experiencia Laboral</h3>
    </div>
    <div class="col-2">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end botonagregar">
        <i class="bi bi-plus-square" iconPos="center" title="Agregar"></i>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl espacios">
  <div class="container">
    <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-2">
      <div *ngFor= "let experiencia of experienciaList" class="col mx-auto" style="width: 40%;">
        <div class="p-3 border bg-light">
          <div class="card mx-auto" style="width: 100%;">
            <div class="card-header">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                  <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                  <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
              </div>
            </div>
            <img [src]="experiencia.Foto" class="card-img-top rounded-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{experiencia.Organizacion}}</h5>
              <p><strong>{{experiencia.Perfil}}</strong></p>
              <p>{{experiencia.Inicio}} a {{experiencia.Fin}}</p>
              <p>
                <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Detalles
                </a>
              </p>
              <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                  <p>{{experiencia.Detalle}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>      
</div> 
