<div class="col-sm-12 bg-secondary">
  <div class="row align-items-center">
    <div class="col-10">
      <h3 class="p-1 bg-secondary text-white">Instrucción y Formación Profesional</h3>
    </div>
    <div class="col-2">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end botonagregar">
        <i class="bi bi-plus-square" iconPos="center" title="Agregar"></i>
      </div>
    </div>
  </div> 
</div>


<div class="container-xxl espacios">
  <div class="container overflow-hidden">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card1.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Formación Universitaria</h5>
                          <p><strong>Licenciatura en Sistemas</strong></p>
                          <p>Facultad de Ingeniería, UBA</p>
                          <p>Año 1998</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card2.jpg" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Formación Terciaria</h5>
                          <p><strong>Analista de Sistemas</strong></p>
                          <p>Instituto Superior Mariano Moreno</p>
                          <p>Año 1995</p>
                        </div>
                    </div>	
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card3.jpg" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Formación Terciaria</h5>
                          <p><strong>Analista Programador</strong><p>
                          <p>Instituto Superior Mariano Moreno</p>
                          <p>Año 1994</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card4.jpg" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Formación Terciaria</h5>
                          <p><strong>Técnico Superior en Redes</strong><p>
                          <p>Instituto FUCE, Pasantia de la Facultad de Ingeniería </p>
                          <p>Año 2002</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card5.jpg" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Formación Secundaria</h5>
                          <p><strong>Bachiller con Orientación Docente</strong><p>
                          <p>Escuela Superior Normal Nro. 10 Juan Bautista Alberdi</p>
                          <p>Año 1992</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light rounded">
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end botonicono">
                            <i class="bi bi-pencil-fill" iconPos="left" title="Editar"></i>
                            <i class="bi bi-trash3-fill" iconPos="left" title="Eliminar"></i>
                        </div>
                      </div>
                      <img src="assets/img/cards/card6.jpg" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Idiomas</h5>
                          <p><strong>Italiano</strong><p>
                          <p>Instituto Italiano di Cultura di Buenos Aires. Nivel B2, Avanzado. Bilingüe.</p>
                          <p>Año 2017</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>      
</div>
