<div class="col-sm-12">
    <h3 class="p-1 mb-4 bg-secondary text-white">Formación Técnica Informática</h3>
</div>

<div class="container-xxl">
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Administración de Sistemas Operativos y redes:</strong>
                Instalación y mantenimiento de redes y servicios de red: topología, cableado, sistemas operativos, administracion y configración. 
                Administración de recursos, sistemas GNU/Linux, servicios Apache y Bases de Datos MySQL.
                Seguridad Informática: Auditorías técnicas, seguimiento de procesos internos y de seguridad.
                </p>
            </div>
        </div>	
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Programación:</strong>
                Programación orientada a objetos en Visual Basic.
                Conocimientos de programación en entornos web: Javascript, TypeScript, Java, Ruby y frameworks Angular y Bootstrap.
                </p>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Diseño Páginas Web:</strong>
                HTML5, CSS y JavaScript. Paquete Macromedia, Redes Sociales.
                </p>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Diseño Gráfico:</strong>
                Paquete Adobe Master Collection, QuarkXPress.
                </p>
            </div>
        </div>
    </div>
</div>
