@charset "utf-8"
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#fondo {
  background: #ebecec;
  font-family: sans-serif;
  margin: 0 auto;
  width:80%;
  padding: 2%;
}

#encabezado {
  background: #cccecf;
  width: 100%;
  padding: 2%;
}


#tituloprincipal {
  font-size: 200%;
  line-height: 120%;
  font-weight: 400;
  color: #FDFEFE;
  text-align: center;
  padding: 3%;
}

#botonera {
	width: 100%;
	height: 50px;
  padding: 1%;
}


#barraizquierda {
	background: #d63384;
	float: left;
	width: 350px;
	padding: 2%;
}

#camposeccion {
	background: #fcdabe;
	padding: 2%;
	width: 100%;
	height: 100%;
}


#fondopie {
  background: #5B2C6F;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#barrapie {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}


.icon-text-text {
  float: left;
  width: 100%;
  padding: 4% 4% 2% 0;
  font-size:
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 300%;
  margin: 1%;
  padding: 5%;
  color: #D7BDE2;
}

.social i:hover {
  color: #FDFEFE;
}

small {
  text-align: center;
  color: #F5EEF8;
  font-size: 80%;
  line-height: 150%;
  margin: 1%;
  padding: 5%;
}
#contenedor1{
  width: 100%;
  float: left;
  background-color: #e7e3e5;
}
