<div id="encabezado">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="assets/img/slider/slider1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slider/slider2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slider/slider3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slider/slider4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-xxl">
    <div class="container">
      <div class="col-12">
        <h1 id="tituloprincipal">Porfolio Web | Sonia Pereira</h1>
      </div> 
    </div>

    <div class="row">
      <div class="col-sm-3 position-relative top-50 start-0 translate-middle-y">
        <img src="assets/img/perfilchica.jpg" class="rounded-circle border border-4 imagen-perfil" alt="...">
      </div> 

      <div class="col-sm-4 col align-self-end">
        <p class="text-light">Full Stack Developer Jr.</p>
        <p class="text-start text-secondary">Buenos Aires, Argentina</p>
      </div>
      
        <div class="col-sm-2 col align-self-end">
          <img src="assets/img/logoMDSchico2.png" alt="...">
          <img src="assets/img/logoingUBAchico.png" alt="...">
        </div>
    
        <div class="col-sm-3 col align-self-end">
          <p class="text-start text-secondary">Ministerio de Desarrollo Social de la Nación</p>
          <p class="text-start text-secondary">Universidad de Buenos Aires | UBA</p>
        </div>
    </div>
  </div>	
</div>
