<div id="encabezado">
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img src="assets/img/slider/slider1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/slider2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/slider3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/slider4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container float-start">
        <img src="assets/img/perfilchica.jpg" class="border border-4 imagen-perfil" alt="...">
    </div>

    <div class="container">
      <div class="col-12">
         <h1 id="tituloprincipal">Porfolio Web | Sonia Pereira</h1>
      </div> 
    </div>
    
    <div class="container d-flex">
      <div class="col-sm-6" style="padding-left: 180px;">
        <p class="text-light h4 mt-3">Full Stack Developer Jr.</p>
        <p class="text-start text-secondary">Buenos Aires, Argentina</p>
      </div>
      
      <div class="col-sm-6 d-flex mx-5 mt-3">
        <div class="d-block">
          <span class="d-flex mx-5">
            <img src="assets/img/logoMDSchico2.png" alt="..." style="width: 100px; height: 50px;">
            <p class="text-start text-secondary mx-3 mt-3">Ministerio de Desarrollo Social de la Nación</p>
          </span>
          <span class="d-flex mx-5">
            <img src="assets/img/logoingUBAchico.png" alt="...">
            <p class="text-start text-secondary mx-3 mt-3 py">Universidad de Buenos Aires | UBA</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>