<div id="encabezado">
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/slider/slider1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slider/slider2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slider/slider3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slider/slider4.jpg" class="d-block w-100" alt="...">
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container-xxl">
      <div class="col-sm-12">
        <h1 id="tituloprincipal">Porfolio Web | Sonia Pereira</h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col align-self-start" alt="...">
          <img src="img/perfilchica.jpg" class="rounded-circle border border-4" alt="...">
        </div>
        <div class="col-sm-6 col align-self-end">
          <p class="text-light h4">Técnica Informática</p>
          <p class="text-start text-dark">Buenos Aires, Argentina | Información de contacto</p>
        </div>
        
        <div class="col-sm-2 col align-self-end">
          <img src="img/logoMDSchico2.png" alt="...">
          <img src="img/logoingUBAchico.png" alt="...">
        </div>

        <div class="col-sm-4 col align-self-end">
          <p class="text-start text-dark">Ministerio de Desarrollo Social de la Nación</p>
          <p class="text-start text-dark">Universidad de Buenos Aires | UBA</p>
        </div>
      </div>
    </div>	
  </div>

  <nav id="botonera">
    <div class="col-sm-12">
      <button type="button" class="btn btn-secondary btn-sm">Tengo interés en</button>
      <button type="button" class="btn btn-secondary btn-sm">Añadir Sección</button>
      <button type="button" class="btn btn-secondary btn-sm">Más</button>
    </div>	
  </nav>
</div>

<div id="contenedor1">
  <div>
    <div class="container-xxl">
      <div class="col-sm-12">
        <h3 class="p-1 mb-4 bg-secondary text-white">Instrucción y Formación Profesional</h3>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formación Universitaria</h5>
                <p><strong>Licenciatura en Sistemas</strong></p>
                <p>Facultad de Ingeniería, Universidad de Buenos Aires</p>
                <p>Año 1998</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>
            </div>
          
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formación Terciaria</h5>
                <p><strong>Analista de Sistemas</strong></p>
                <p>Instituto Superior Mariano Moreno</p>
                <p>Año 1995</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>	
          </div>

          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formación Terciaria</h5>
                <p><strong>Analista Programador</strong><p>
                <p>Instituto Superior Mariano Moreno</p>
                <p>Año 1994</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>	
            
          </div>
      </div>
      
      
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formación Terciaria</h5>
                <p><strong>Técnico Superior en Armado, Reparación de PC y Redes</strong><p>
                <p>Instituto FUCE </p>
                <p>Año 2002</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>		
          </div>

            <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formación Secundaria</h5>
                <p><strong>Bachiller con Orientación Docente</strong><p>
                <p>Escuela Superior Normal Nro. 10 Juan Bautista Alberdi</p>
                <p>Año 1992</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>	
            </div>

          <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="img/cards/card6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Idiomas</h5>
                  <p><strong>Italiano</strong><p>
                  <p>Instituto Italiano di Cultura di Buenos Aires. Nivel B2, Avanzado. Bilingüe.</p>
                  <p>Año 2017</p>
                  <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
                </div>
              </div>	
          </div>
        </div>
      </div>
      
      <div class="col-sm-12">
        <h3 class="p-1 mb-4 bg-secondary text-white">Formación Técnica Informática</h3>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Administración de Sistemas Operativos y redes:</strong>
              Instalación y mantenimiento de redes y servicios de red (topología, cableado, sistemas operativos de red). Redes Ethernetestándar y redes wireless.
              Administración de protocolos TCP/IP, FTP, HTTP, HTTPS, SMTP, POP, TELNET, IMAP.
              Configuración de Redes, Firewall, Routers,programación en Shell script, gestión de usuarios (altas, modificaciones y bajas).
              Administración de recursos, sistemas GNU/Linux como gestores de red, integración con redes Windows.
              Administración y uso de sistemas MS-Windows.
              Servicios bajo servidores GNU/Linux. Apache, Apache2, wu-ftp, mysql.
              Conocimientos de Seguridad Informática: realización de auditorías técnicas, detección y seguimiento de procesos internos y brechas de seguridad.
              Conocimientos de HTML, CGI, y tecnologías de Web.
            </p>
          </div>
        </div>	
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-sm-12">
          <p><strong>Programación:</strong>
            Programación en Visual Basic, sobre bases de datos Access, Dbase, SQL Server y automatización mediante VBA (Excel y Word)
            Conocimientos de programación en entornos web: Javascript, VBScript, PHP, ASP, Perl.
          </p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-sm-12">
          <p><strong>Diseño Páginas Web:</strong>
            Lenguaje HTML, Paquete Macromedia, Comercio electrónico, Promoción Web, Redes Sociales.
          </p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-sm-12">
          <p><strong>Diseño Gráfico:</strong>
            Paquete Adobe Master Collection, programa de autoedición QuarkXPress.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="p-1 mb-4 bg-secondary text-white">Experiencia Laboral</h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card7.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ministerio de Desarrollo Social de la Nación</h5>
                <p><strong>Técnico Informático Profesional</strong></p>
                <p>Abril 2005 a la actualidad</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>		
          </div>

          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card8.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dirección General de Educación Vial y Licencias del Gobierno de la Ciudad</h5>
                <p><strong>Instructor Profesional</strong></p>
                <p>Octubre 2002 a Octubre 2004</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <img src="img/cards/card10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ICONTEAM diseño web</h5>
                <p><strong>Técnico Informático</strong></p>
                <p>Agosto 2001 a  Diciembre 2003</p>
                <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="col-sm-6">
              <div class="card" style="width: 18rem;">
                <img src="img/cards/card9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ELSERVER SRL desarrollo web y hosting</h5>
                  <p><strong>Técnico Informático</strong></p>
                  <p>Octubre 2002 a Octubre 2004</p>
                  <a href="#" class="btn btn-secondary btn-sm">Comentarios de Usuarios</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="p-1 mb-4 bg-secondary text-white">Cursos Dictados y Trabajo FreeLancer</h3>
      </div>

      <div class="col-sm-12">	
          <p><strong>Instalación y mantenimiento de redes a PYMES:</strong>
            Reparación de equipos informáticos a particulares (servicio técnico a domicilio).
            Profesora de Informática en la Asociación mutual Sociedad Italiana de Socorros Mutuos y Cultural de General San Martin, Buenos Aires. Enero 2003 a Septiembre del 2005. 
            Impartiendo clases a grupos de alumnos adultos mayores, mantenimiento del aula de 14 equipos y un servidor en Windows 2000.
            Profesora particular en áreas de ofimática, programación y entornos operativos. Enseñanza a nivel de iniciación dirigida a niños y gente sin experiencia. 
            Formación principalmente en áreas de ofimática (Ms-Office) y entornos operativos Windows y Unix (GNU/Linux).
            Clases de aplicaciones de Internet, Windows, ofimática, diseño de páginas Web, a particulares, desde 2005.
          </p>
      </div>
      
      <div class="col-sm-12">	
        <p><strong>Diseño, actualización y administración de Sitios Web:</strong>
          SOUTHDOORS GROUP S.A.
          Administración del portal web www.argentinaguia.com
          Diseño y mantenimiento en servidores, correo y atención al cliente personalizada, ofreciendo a cada una de las empresas, soporte informático en alojamiento Web y registro de dominios.
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="p-1 mb-4 bg-secondary text-white">Capacidades y Competencias</h3>
      </div>

      <div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="img/cards/card11.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
              <ul>
                <li>Actitud proactiva </li>
                <li>Versatilidad y capacidad de generar iniciativas en el ámbito laboral. </li>
                <li>Habilidad para establecer relaciones sociales. Facilidad de aprendizaje. </li>
                <li>Compromiso con las responsabilidades asignadas.</li>
                <li>Capacidad para coordinar y supervisar trabajo en equipo. </li>
                <li>Cumplimiento de los horarios establecidos. </li>
                <li>Capacidad analítica y reflexiva ante situaciones de exigencia en el ámbito laboral. </li>
                <li>Capacidad de síntesis. Innovación y creatividad. </li>
                <li>Sistematización de la documentación y óptima capacidad de redacción. </li>
                <li>Dominio de tecnologías de comunicación e información. </li>
                <li>Dominio avanzado de herramientas informáticas. </li>
              </ul>
            </div>
            </div>
          </div>
          </div>
        
      </div>
    </div>	
  </div>
</div>

<!-- FOOTER -->
<footer id="fondopie">
  <div class="barrapie">
    <div class="icon-text-text">
      <ul class="social">
      <li>
        <a href="mailto:sonygahan@gmail.com" target ="_blank">
        <i class="fa fa-envelope-o"></i>
        </a>
      </li>
      <li>
        <a href="http://facebook.com" target ="_blank">
        <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com" target ="_blank">
        <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="http://youtube.com" target ="_blank">
        <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target ="_blank">
        <i class="fa fa-instagram"></i>
        </a>
      </li>
      </ul>
      <small>&copy; Derechos reservados <strong>@sonygahan</strong></small>
    </div>
  </div>
</footer>
