<nav class="navbar navbar-light" style="background-color: #472435;">
  <div class="container-xxl">
  
  <div class="row">
    <div class="col-sm-4 position-absolute top-50 start-0 translate-middle">
      <img src="assets/img/logoyoprogramo.png" alt="" width="250" height="30">
    </div>

    <div class="col-sm-4 col align-self-end">
      <div class="barranav position-absolute top-50 start-50 translate-middle">
        <div class="icon-nav-text">
          <ul class="nsocial">
            <li>
              <a href="mailto:sonygahan@gmail.com" target ="_blank">
              <i class="fa fa-envelope-o"></i>
              </a>
            </li>
    
            <li>
              <a href="tel:011 5635 6742" target ="">
              <i class="fa fa-phone"></i>
              </a>
            </li>
    
            <li>
              <a href="https://www.linkedin.com/in/sonia-pereira-3b643932/" target ="_blank">
              <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/SonyCandela" target ="_blank">
              <i class="fa fa-twitter"></i>
              </a>
            </li>
          
            <li>
              <a href="https://github.com/SonyGahan" target ="_blank">
              <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    

    <div class="col-sm-4 col align-self-end">
      <button type="button" class="btn btn-secondary btn-sm pposition-absolute top-50 start-100 translate-middle">Login</button>
    </div>
  </div>
</div>

    

    
</nav>