<nav class="navbar navbar-expand-sm" style="background-color: #472435;">
  <div class="container-fluid">

    <div class="navbar-header">
        <img src="assets/img/logoyoprogramo.png" alt="" width="250" height="35">
    </div>

    <div class="d-flex flex-row">
        <ul class="navbar-nav nsocial" style="margin-right: 15px">
          <li>
            <a class="nav-link" href="mailto:sonygahan@gmail.com" target="_blank">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="tel:011 5635 6742" target="">
              <i class="fa fa-phone"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="https://www.linkedin.com/in/sonia-pereira-3b643932/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="https://twitter.com/SonyCandela" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="https://github.com/SonyGahan" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>

        <button type="button" class="btn btn-outline-light btn-sm">Login</button>

    </div>
  </div>
</nav>