<div class="container-xxl" id="fondo-form">
  <div class="col-sm-12 espacios">
    <div class="card mb-4 mx-auto" style="max-width: 80%;"> 
      <div class="card-header bg-secondary">
        <h4 class="m-2 text-center text-white">Agregar Formación Técnica Informática</h4>
      </div>
      
      <div class="row g-0">
        <div class="col-md-3 imginformatica">
                <img src="assets/img/cards/card18.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" class="m-5">
                <div class="form-group mb-3">
                    <label class="form-label text-secondary">Nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevainformatica.nombre" name="nombre">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label text-secondary">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" [(ngModel)]="nuevainformatica.descripcion" name="descripcion">
                </div>
                <button (click)="Agregar(nuevainformatica)" class="btn bg-primary text-white btn-sm mx-2">Agregar</button>
                <button (click)="cancelar()" class="btn bg-primary text-white btn-sm">Cancelar</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>	
</div>