<div class="container-xxl" id="fondo-form">
  <div class="col-sm-12 espacios">
    <div class="card mb-4 mx-auto" style="max-width: 80%;"> 
      <div class="card-header bg-secondary">
        <h4 class="m-2 text-center text-white">Habilidades</h4>
      </div>
      
      <div class="row g-0">
        <div class="col-md-3 imghabilidad">
                <img src="assets/img/cards/card14.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
              <form class="m-5">
                <div class="mb-3">
                      <label for="exampleInputformacion" class="form-label text-secondary">Programas</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                      <label for="exampleInputtitulo" class="form-label text-secondary">Porcentaje</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn bg-primary text-white btn-sm mx-2">Agregar</button>
                <button type="submit" class="btn bg-primary text-white btn-sm">Cancelar</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>	
</div>