<div class="col-sm-12">
    <h3 class="p-1 mb-4 bg-secondary text-white">Habilidades y Competencias</h3>
</div>

<div class="container-xxl">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/img/cards/card11.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p>Actitud proactiva.Innovación y creatividad. 
                    Versatilidad para generar iniciativas en el ámbito laboral y habilidad para establecer relaciones sociales. Facilidad de aprendizaje.
                    Compromiso con las responsabilidades asignadas y cumplimiento de los tiempos establecidos.
                    Coordinación de trabajo en equipo.
                    Capacidad analítica, reflexiva y de síntesis. Óptima capacidad de redacción.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="skills-section section">
    <div class="skillset">        
        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="progress level-bar">
    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
</div>                               
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Javascript</h3>
            <div class="progress level-bar">
    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
</div>                              
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Angular</h3>
            <div class="progress level-bar">
    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
</div>                                 
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">MySQL</h3>
            <div class="progress level-bar">
      <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
</div>                                
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Ruby on Rails</h3>
            <div class="progress level-bar">
    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
</div>                                  
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Diseño &amp; Photoshop</h3>
            <div class="progress level-bar">
    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>                                 
        </div><!--//item-->
        
    </div>  
</section><!--//skills-section-->
