<div class="col-sm-12 bg-secondary">
    <h3 class="p-1 mb-4 bg-secondary text-white">Habilidades y Competencias</h3>
</div>

<div class="col-sm-12">
    <div class="card mb-3 mx-auto" style="max-width: 90%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/img/cards/card13B.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p>Actitud proactiva.Innovación y creatividad. 
                    Versatilidad para generar iniciativas en el ámbito laboral y habilidad para establecer relaciones sociales. Facilidad de aprendizaje.
                    Compromiso con las responsabilidades asignadas y cumplimiento de los tiempos establecidos.
                    Coordinación de trabajo en equipo.
                    Capacidad analítica, reflexiva y de síntesis. Óptima capacidad de redacción.
                    </p>
                </div>
            </div>
        </div>
    </div>	
</div>


